#trails {
    margin-top: 2%;
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    padding: 15%;
}

#trails p {
    padding: 5%
}

#create-trail-button {
    left: 10px;
    background-color: orange;
    border-color: orange;
    color: black;
    margin-top: 0.5%
}